<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jgavi.bibliotecavirtual">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Login" />
        <activity android:name=".Cadastro" />
        <activity android:name=".MenuFuncionario" />
        <activity android:name=".ProcurarUsuario" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuEstudante"
            android:label="@string/title_activity_menu_estudante"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EditarUsuario" />
        <activity android:name=".OpcaoDesbloqueio" />
        <activity android:name=".TelaBloqueado" />
        <activity android:name=".Cadastro_Livro_Fisico" />
        <activity android:name=".ProcurarEbook" />
        <activity android:name=".pdf" />
        <activity android:name=".FuncProcurarLivro" />
        <activity android:name=".ListaEbook" />
        <activity android:name=".ListaTitulo" />
        <activity android:name=".TirarReserva"/>
        <activity android:name=".ListaReservado"/>
    </application>

</manifest>